/* index样式*/
.header-banner {
    height: 670px;
    position: relative;
}
/* 头部部分开始 */
.header{
  width: 100%;
  height: 82px;
  line-height: 82px;
  /*background: yellow;*/
  background-color: transparent;
  position: relative;
  z-index: 99;
}
/* logo */
.logo{
  width: 125px;
  height: 100%;
  float: left;
}
.logo a{
  float: left;
  line-height: 82px;
  
}
/* 头部导航栏 */
.header-nav li{
  float: left;
  /*padding: 31px 20px 30px;*/
  padding: 0px 20px;

}
.header-nav li a{
  color: #fff;
  font-size: 14px;
}
.header-nav li:hover a{
  color: #008cff;
}
/* 头部搜索栏 */
.search {

}
/* 购物车部分 */
.header-shoppingcart{
    /*height: 100%;*/
    margin: 0px 12px 0px 6px;
    margin-top: 31px;
    position: relative;
}
.header-shoppingcart a {
  background-image: url("../images/w_cart.png");
    display: block;
    width: 20px;
    height: 19px;
    /*margin-top: 31px;*/
    position: relative;
}
.header-shoppingcart a em{
    position: absolute;
    top: -10px;
    left: 16px;
    width: 16px;
    border-radius: 50%;
    line-height: 16px;
    font-size: 10px;
    color: #fff;
    background-color: #cc0000;
    font-style: normal;
}

/*购物车下拉部分*/
/*三角*/
.cart-triangle {
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    bottom: -8px;
    right: 3px;
    display: none;
}
.header-shoppingcart .cartinfo{
    width: 320px;
    height: 120px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 27px;
    right: -12px;
    line-height: 18px;
    display: none;
}
.header-shoppingcart:hover .cart-triangle,
.header-shoppingcart:hover .cartinfo{
    display: block;
}
.cartinfo-inner{
    padding-top: 32px;
    padding-bottom: 32px;
}
.cartinfo-inner img{
    /*width: 50px;*/
    height: 45px;
    vertical-align: top;
    margin-right: 8px;
}
.cartinfo-inner .cartinfo-text{
    color: #999;
    font-size: 12px;
    display: inline-block;
    text-align: left;
}


/* 头部用户部分 */
.header-user{
    height: 100%;
    position: relative;
}
.header-user .user-top{
    width: 30px;
    height: 30px;
    background-image: url("../images/w-user.png");
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto 0px;
}
.header-user .user-triangle{
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 24px;
    left: -21px;
    display: none;
}
/* 用户操作下拉信息 */
.user-info{
    line-height: 22px;
    position: absolute;
    top: 58px;
    left: -64px;
    width: 100px;
    height: 150px;
    background-color: #fff;
    border-radius: 3px;
    display: none;
}

.user-info li{
    padding: 7px 0px;
}
.user-info li a{
    font-size: 12px;
    color: #515151;
}
.user-info li a:hover{
    color: #008cff;
}
.user-top:hover{
    cursor: pointer;
}
.user-inner:hover .user-triangle,
.user-inner:hover .user-info{
    display: block;
}
/* 搜索栏 */
.search {
    margin-right: 30px;
    width: 172px;
    height: 30px;
    border-radius: 20px;
    padding-left: 18px;
    outline: none;
    vertical-align: baseline;
}

/* 头部导航栏隐藏部分 */

/* 头部部分结束 */

/* banner轮播图部分 */
.banner{
    height: 670px;
    background-color: lightblue;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 98;
}
.banner .swiper li{
    float: left;
}
.banner .swiper a{
    display: block;
    height: 670px;
    width: 1347px;
}
/*.banner .swiper a img{*/
/*    height: 670px;*/
/*    !*width: 100px;*!*/
/*}*/

.slide1 a{
    background: url("../images/805aedb9-599c-4d57-92f5-82597b5532ff.jpg") center no-repeat;
}
.slide2 a{
    background: url("../images/3d85e6b1-f205-4110-8056-7a3a7fab1ecf.jpg") center no-repeat;
}
.slide3 a{
    background: url("../images/6b25a912-ce6f-4c9e-8c20-8a31266e1871.jpg") center no-repeat;
}
.slide4 a{
    background: url("../images/5540e020-78e8-4f24-a105-029b88ed8b87.jpg") center no-repeat;
}
.slide5 a{
    background: url("../images/8044411a-4d5d-48ab-a469-e1a675c024d8.jpg") center no-repeat;
}
.slide6 a{
    background: url("../images/c2d903dc-9cc5-4f24-8bd7-8352be7d2f3e.jpg") center no-repeat;
}
.slide7 a{
    background: url("../images/7ee7742d-e149-4fdf-8911-73aa11ee7e66.jpg") center no-repeat;
}
/* banner中的圆形按钮 */
.circlebtn {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 162px;
    margin: 0 auto;
}
.circlebtn li{
    float: left;
    margin: 0 8px;
}
.circlebtn li a{
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
}
.circlebtn li a.active{
    background-color: transparent;
}

/*  服务快捷链接部分  */
.service-shortcut{
    height: 278px;
    /*background-color: aquamarine;*/
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.sershortcut li {
    float: left;
    width: 310px;
    /*background-color: darkseagreen;*/
    background-color: #fff;
    height: 100%;
}
.sershortcut a{
    display: inline-block;
    margin-top: 46px;
}
.sershortcut a:hover img{
    opacity: .6;
}
.sershortcut li img{
    height: 130px;
}
.shortcut-name{
    font-weight: bold;
    font-size: 20px;
    color: #333;
    line-height: 30px;
}
.shortcut-description{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
/*广告栏部分*/
/* 广告栏部分:手机 */
.ad{
    margin-top: 58px;
    /*position: relative;*/
}
.ad h3{
    font-size: 30px;
    margin-bottom: 18px;
    line-height: 30px;
    font-weight: normal;
}
.ad a{
    display: block;
    width: 100%;
    height: 450px;
}
.adimg1{
    background: url("../images/27682e1c-f0d8-43e1-9f9b-13c6ee53ed36.jpg") center no-repeat;
}
.adimg:hover{
  opacity: .8;
}
.products{
    /* height: 1005px; */
    /* background-color: lemonchiffon; */
}
.products-detail li{
  float: left;
}
.products-detail .products-top{
  margin: 10px 10px 10px 0px;
}
.products-detail .products-top a{
  display: block;
  width: 615px;
  height: 610px;
  background-color: #fff;
  position: relative;
}
.products-top span{
  display: block;
  color: #333;
}
.big-good-name{
  font-size: 28px;
  margin-top: 39px;
}
.big-good-description{
  font-size: 18px;
}
.products-top .good-price{
  font-size: 22px;
  line-height: 42px;
  color: #cc0000;
}
.products-detail .small-symbol {
  font-size: 14px;
  display: inline;
  color: #cc0000;
}
.products-top img{
  height: 460px;
}
.products-detail .products-top:nth-of-type(2){
  margin-right: 0;
}
/* .products-detail .keyword{
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #FF64A6;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 30px;
} */
.keyword{
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #FF64A6;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 30px;
}

.products-detail .products-bottom{
  margin-right: 10px;
}
.products-detail .products-bottom:nth-last-of-type(1){
  margin-right: 0;
}
.products-detail .products-bottom a{
  display: block;
  width: 302px;
  height: 375px;
  /* background-color: tomato; */
  background-color: #fff;
}
.products-detail .products-bottom:nth-last-of-type(1) a{
  width: 304px;
}
.products-bottom img{
  height: 230px;
  margin-top: 30px;
}
.products-bottom span{
  display: block;
}
.products-bottom .small-good-name{
  font-size: 16px;
  color: #333;
  margin-top: 14px;
}
.products-bottom .small-good-description{
  font-size: 14px;
  color: #999;
}
.products-bottom .good-price{
  font-size: 22px;
  line-height: 42px;
  color: #cc0000;
}
.products-detail li:hover{
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.products-detail li:hover img{
  outline: 1px dotted #cc0000;
  opacity: .8;
} 
/* 广告栏部分：家具- */
.adimg2{
  background: url(../images/857800c7-f7ef-46f0-b33e-bb1f25d27bd8.jpg) center no-repeat;
}
.commodity-item{
  float: left;
  margin-top: 10px;
  margin-right: 9px;
}
.commodity-detail .commodity-item:nth-of-type(4),
.commodity-detail .commodity-item:nth-of-type(8),
.commodity-detail .commodity-item:nth-last-of-type(1){
  margin-right: 0px; 
} 
.commodity-detail li a{
  display: block;
  width: 303px;
  height: 375px;
  /* background-color: antiquewhite; */
  background-color: #fff;
}
.commodity-detail li:hover{
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.commodity-detail .commodity-item:nth-of-type(4) a,
.commodity-detail .commodity-item:nth-of-type(8) a,
.commodity-detail .commodity-item:nth-last-of-type(1) a{
  width: 304px;
}
.first-item a{
  position: relative;
}
.first-item img{
  width: 100%;
  height: 100%;
}
.commodity-item .first-item-text{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.commodity-item .first-item-text p{
  /* display: block; */
  width: 303px;

}
.first-item-text .first-item-name{
  color: #fff;
  font-weight: bold;
  font-size: 21px;
}
.first-item-text .first-item-description{
  color: #fff;
  font-size:14px;
}
.first-item-text .first-item-price{
  color: #ebce6b;
  font-size: 24px;
  font-weight: bold;
}
.first-item-text .first-item-price span{
  font-size: 22px;
}
.other-item img{
  width: 230px;
  margin-top: 30px;
}
.other-item .other-item-name{
  color: #333;
  font-size: 16px;
}
.other-item .other-item-description{
  color: #999;
  font-size: 14px
}
.other-item .other-item-price{
  color: #cc0000;
  font-size: 22px;
}
.other-item .other-item-price span{
  font-size: 14px;
  vertical-align: baseline;
}
/* 广告栏部分：声学部分 */
.adimg3{
  background: url(../images/d7a8ce45-8664-40a8-a136-a00f871066f1.jpg) center no-repeat;
}
.del-price{
  color: rgb(102, 102, 102);
}
.new-item{
  position: relative;
}
.adimg4 {
  background: url("../images/5a0f5911-eec0-46d1-9b3c-af70f42b373f.jpg") center no-repeat;
}
.first-item-text .newcolor {
  color:rgb(241, 144, 74)
}
.adimg5{
  background: url("../images/2f596e37-7ec4-4a97-94fe-e82698ad9d4b.jpg") center no-repeat;
}
.commodity-detail .commodity-item .first-del-price{
  color: #fff;
  font-size: 14px;
}
/* 社区热帖 */
.hot-posts{
  margin-top: 58px;
  /*position: relative;*/
}
.hot-posts h3{
  font-size: 30px;
  margin-bottom: 18px;
  line-height: 30px;
  font-weight: normal;
}
.posts {
  /* height: 794px; */
  /* background-color: lemonchiffon; */
}
.posts li{
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
}
.posts li:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.posts li:nth-of-type(4),
.posts li:nth-last-of-type(1){
  margin-right: 0;
}
.posts li a{
  display: block;
  width: 303px;
  height: 389px;
  background-color: #fff;
}
.posts li:nth-of-type(4n) a{
  width: 304px;
}
/* .posts li .posts-goodsimg{
  height: 190px;
} */
.posts img{
  height: 190px;
  width: 100%;
}
.posts-user .user-avatar{
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 12px;
  /* text-align: left; */
}
.posts-user{
  text-align: left;
  height: 38px;
  /* width: 100%; */
}
.posts-user .user-avatar img{
  width: 35px;
  height: 35px;
}
.posts-user .user-name{
  float: left;
  line-height: 38px;
  margin-top:12px;
  color: #515151;
  font-size: 14px;
}
.posts-comment{
  color: #515151;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 22px;
  padding-left:12px;
  padding: 22px 15px 12px 15px;
  text-align: left;
}
.posts-mobile{
  text-align: left;
  padding: 0 15px;
  margin-top: 15px;
  color: #999;
}
/* Flyme部分 */
.Flyme{
  margin-top: 58px;
}
.Flyme h3{
  font-size: 30px;
  margin-bottom: 18px;
  line-height: 30px;
  font-weight: normal;
}
.Flyme-items li{
  float: left;
  margin-bottom: 15px;
  margin-right: 9px;
}
.Flyme-items li:nth-of-type(3),
.Flyme-items li:nth-of-type(7){
  margin-right: 0;
}
.Flyme-items li:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.Flyme-items li a{
  display: block;
  width: 303px;
  height: 245px;
  background: #fff;
}
.Flyme-items li:nth-of-type(3) a,
.Flyme-items li:nth-of-type(7) a{
  width: 304px;
}
.Flyme-items .Flyme-first-item a{
  display: block;
  width: 615px;
  height: 245px;
}
.Flyme-first-item a img{
  height: 100%;
  width: 100%;
}
.Flyme-item a img{
  height: 190px;
  width: 100%;
}
.Flyme-item .Flyme-item-title{
  color: rgb(81, 81, 81);
  font-size: 16px;
  margin-top: 20px;
}

.video{
  margin-top: 58px;
}
.video h3{
  font-size: 30px;
  margin-bottom: 18px;
  line-height: 30px;
  font-weight: normal;
}
.video-item li{
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
}
.video-item li:nth-of-type(4n){
  margin-right: 0px;
}
.video-item li:hover{
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.video-item li a{
  display: block;
  width: 303px;
  height: 245px;
  background: #fff;
}
.video-item li:nth-of-type(4n) a{
  width: 304px;
}
.video-item .video-img{
  position: relative;
}
.video-item a img{
  height: 190px;
  width: 100%;
}
.video-img i{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 16px;
  right: 16px;
  background: url("../images/player.png") no-repeat;
  background-size: cover;
}
.video-item .video-text{
  color: #515151;
  font-size: 16px;
  line-height: 55px;
}
/* 网页底部 */
.footer{
  margin-top: 58px;
  padding: 48px 0px 20px 0px;
  background-color: #fff;
}
.serviceinfo{
  width: 78%;
  float: left;
}
.serviceinfo li{
  width: 15%;
  float: left;
}
.serviceinfo li a{
  line-height: 27px;
  text-align: center;
}
.serviceinfo img{
  display: block;
  width: 50px;
  margin: 0 auto;
}
.serviceinfo span{
  color: #999;
  font-size: 14px;
}
.online-server{
  float: right;
  margin-top: -18px;
}
.online-server span{
  color: #999;
  font-size: 12px;
}
.online-server p{
  color: #008cff;
  font-size: 25px;
}
.online-server a{
  display: block;
  height: 30px;
  width: 88px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  background-color: #008cff;
}
.footerhr {
  margin: 10px auto 28px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
}
.footer-bottom .moreinfo>li{
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #d6d6d6;
}
.footer-bottom .moreinfo li:nth-last-of-type(1){
  border: 0;
}
.footer-bottom .moreinfo li a{
  color: #999;
  font-size: 12px;
}
.footer-bottom .moreinfo>li>a:hover{
  color:#008cff;
}
.footer-bottom .moreinfo .lang-setting>a:hover{
  color: #999;
}
.icon-lang-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/1c31db15-ab85-4932-8e6c-edfd6039bc60.png");
  background-size: cover;
  margin-right: 8px;
}
.logo2{
  background: url("../images/85fba643-95ca-4db1-991c-43e66f108afb.png");
  background-size: cover;
  margin-right: 8px;
}
.logo3{
  background: url("../images/eb611060-5ab5-4128-a64a-63d1e6c8ada4.png");
  background-size: cover;
  margin-right: 15px;
}
.logo4{
  background: url("../images/e743e97c-71af-4853-a91d-bd81c2d3a31c.png");
  background-size: cover;
  margin-right: 10px;
}
.logo5{
  background: url("../images/062710b5-2f96-4402-ad27-822af5b4f993.png");
  background-size: cover;
  margin-right: 15px;
}
.lang-setting{
  position: relative;
}
.lang-list{
  display: none;
  position: absolute;
  bottom: 20px;
  right: 0px;
  z-index: 999;
}
.lang-list li{
  background-color: #fff;
  padding: 6px 10px 4px 4px;
}
.footer-bottom .moreinfo .lang-setting>a:hover + .lang-list{
  display: block;
}
.copyright span,
.copyright .web-info,
.copyright .web-info li{
  float: left;
  color: #999;
  font-size: 12px;
}
.copyright{
  margin-top: 16px;
}
.web-info li{
  margin-right: 10px;
}
.web-info-text a{
  color: #999;
}
.web-info-text a:hover{
  color:#008cff;
}
.web-info-text a:hover .web-info-logo1{
  background: url("../images/cgh.png");
}
.web-info-logo1,
.web-info-logo2,
.web-info-logo3,
.web-info-logo4{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  vertical-align: top;
}
.web-info-logo1{
  background: url("../images/gh.png");
}
.web-info-logo2{
  background: url("../images/L1.png");
}
.web-info-logo2:hover{
  background: url("../images/cL1.png");
}
.web-info-logo3{
  background: url("../images/l2.png");
}
.web-info-logo3:hover{
  background: url("../images/cl2.png");
}
.web-info-logo4{
  background: url("../images/l3.png");
}
.web-info-logo4:hover{
  background: url("../images/cl3.png");
}
/* 分享方式部分模块 */
.shareinfo-list{
  float: right;
}
.shareinfo-list li{
  float: left;
  margin: 0 11px 0 11px;
  position: relative;
}
.shareinfo-list li:after{
  content: "";
  height: 14px;
  background-color: #eee;
  width: 1px;
  right: -10px;
  bottom: 0;
  position: absolute;
}
.shareinfo-list li a{
  display: block;
}
/* .shareinfo-code{
  position: relative;
} */
.shareinfo-code a{
  width: 20px;
  height: 20px;
  background: url("../images/3b085af8-a47b-453c-b147-a4b352fb3a14.png");
  background-size: cover;
}
.shareinfo-code:hover a{
  background: url("../images/6721704b-7b6d-445d-a025-e33649e5db74.png");
  background-size: cover;
}
.shareinfo-code-detail{
  position: absolute;
  bottom: 20px;
  left: -32px;
  display: none;
}
.shareinfo-code-detail img{
  width: 158px;
  height: 158px;
}
.shareinfo-code:hover .shareinfo-code-detail{
  display: block;
}
/* .shareinfo-code-detail{
  width: 158px;
  height: 158px;
} */
.shareinfo-wechat{
  /* position: relative; */
}
.shareinfo-wechat a{
  width: 22px;
  height: 20px;
  background: url("../images/58e3e041-5543-4414-aaf1-d8e1fd539af6.png");
  background-size: cover;
  position: relative;

}
.shareinfo-wechat-detail{
  width: 158px;
  height: 158px;
  position: absolute;
  bottom: 20px;
  left: -63px;
  display: none;
}
.shareinfo-wechat a:hover{
  background: url("../images/cb0d00dc-41f7-4339-a0b3-25ee7dca1d4a.png");
  background-size: cover;
}
.shareinfo-wechat a:hover .shareinfo-wechat-detail{
  display: block;
}

.shareinfo-qzone a{
  width: 20px;
  height: 20px;
  background: url("../images/52cba4a4-b3a6-4522-9883-d3a918e7d4a9.png");
  background-size: cover;
}
.shareinfo-qzone a:hover{
  background: url("../images/aff10988-6493-49c0-961a-0c91eae603b4.png");
  background-size: cover;
}
.shareinfo-weibo a{
  width: 20px;
  height: 20px;
  background: url("../images/bcccf9d2-e0e5-441b-b4a3-f78c12bc3933.png");
  background-size: cover;
}
.shareinfo-weibo a:hover{
  background: url("../images/7df8d821-a5c4-4619-9981-04e31db6e3de.png");
  background-size: cover;
}
